.app{
    background-color: #131313;
    position:absolute;
    top:0;
    left:0;
    color:rgb(98, 0, 255);
    width:100vw;
    height:100vh;
    overflow: hidden;
}

.main{
    position:absolute;
}
 
.albums{
    font-family: 'Doto';
    font-size:85%;
    line-height:115%;
    // background-color: rgba(49, 31, 78, 0.199);
    color:rgb(172, 146, 214) !important;
    border-radius: 10px;
    box-shadow: inset;
    width:40%;
    max-height:80%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(49, 31, 78, 0.068) rgba(49, 31, 78, 0.068);
    .album{
        background-color: #ffffff34;
        min-width:20em;
        border:0.5px dotted #cacaca18;
        // backdrop-filter: invert(100%);
        
        -webkit-mask: linear-gradient( 45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.452) 50%,rgba(0, 0, 0, 0) 100%),
        linear-gradient( 135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.459) 50%,rgba(0, 0, 0, 0) 100%),;
        // linear-gradient( 270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.459) 50%,rgba(0, 0, 0, 0) 100%)

        .tracks{
            padding: 1em 3em
        }
    }
}

.pointer{
    cursor: pointer;
}