.app{
    background-color: #131313;
    position:absolute;
    top:0;
    left:0;
    color:rgb(98, 0, 255);
    width:100vw;
    height:100vh;
    overflow: hidden;
}

.main{
    position:absolute;
}
 