<div class="app" #sketch>
    <div class="main d-flex flex-column justify-content-between align-items-center w-100 h-100 pt-5 pb-1 gap-2">
        <!-- TODO: RENDER NI-RO DU-DE with katakana with this font https://fonts.google.com/specimen/DotGothic16?categoryFilters=Appearance:%2FTheme%2FTechno -->
        <div class="d-flex flex-column px-1">
            <div class="jap d-flex">
                {{jap}} EVERY BASE IS BASE 10
            </div>
            <div class="arcaraho fst-italic {{!arcaraho ? '' : ''}}" (click)="arcaraho = !arcaraho">{{!arcaraho ? 'atomaporculo' : 'ave ave?'}}</div>
        </div>
        
        <div *ngIf="!arcaraho" class="albums d-flex flex-column">
            <div *ngFor="let album of this.catalog" class="album d-flex flex-column gap-1 justify-content-center align-items-center p-4">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <div class="pointer fs-2" (click)="openAlbum(album.url)">
                        {{album.title}}
                    </div>
                    <div class="fs-6">
                        {{album.release_date}}
                    </div>
                </div>    
                <div class="tracks d-flex flex-column gap-1" >
                    <div *ngFor="let track of album.tracks" class="track pointer d-flex gap-1 justify-content-center align-items-center px-1" (click)="openAlbum(track.url)">
                        <div class="trackname text-center">
                            {{track.title}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex flex-wrap gap-2 w-100 justify-content-center align-items-end py-2">
            <div class="logoContainer">
                <div class="bandcampLogo logo p-4 py-xl-5 align-items-center" (click)="open('bandcamp')"></div>
            </div>
            <div class="logoContainer">
                <div class="spotifyLogo logo p-4 py-xl-5 align-items-center" (click)="open('spotify')"></div>
            </div>
            <div class="logoContainer">
                <div class="soundcloudLogo logo p-4 py-xl-5 align-items-center" (click)="open('soundcloud')"></div>
            </div>
        </div>
    </div>
</div>


