/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.logo{
    mask-repeat: no-repeat;
    background-color: rgb(78, 15, 129);
    mask-size: 70%;
    mask-position: center;
    min-width: 24em;
   
}

.smalllogo{
    mask-repeat: no-repeat;
    background-color: rgb(78, 15, 129);
    mask-size: 50%;
    mask-position: center;
    min-width: 24em;
   
}

.logoContainer{
    transition: transform 0.9s ease-in-out;  
}

.bandcampLogo {
    -webkit-mask-image: url('../public/icons/bandcamp.svg');
    mask-image: url('../public/icons/bandcamp.svg');
    // mask-size: 97%;
}

.spotifyLogo {
    -webkit-mask-image: url('../public/icons/spotify.svg');
    mask-image: url('../public/icons/spotify.svg');
    mask-size: 60%;
}

.soundcloudLogo {
    -webkit-mask-image: url('../public/icons/soundcloud.svg');
    mask-image: url('../public/icons/soundcloud.svg');
    // mask-size: 100%;
}

.logoContainer:hover{
    transform: scale(1.05);
    // filter: drop-shadow(0 -1mm 10mm rgb(153, 153, 153));
}